/* Start Global rules */


*{
    box-sizing: border-box;
}

body{
    font-family: helvetica, sans-serif;
    color: white;
    background-color: rgb(11, 9, 22);
    margin: 0;
    background-image: url('../images/noaa-ZVhm6rEKEX8-unsplash\ \(1\).jpg');
    position: relative;
    min-height: 100vh;
    background-size: cover;
}

body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

.container{
    max-width: 1200px;
    margin: auto auto;
}
:root {

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/*medium*/

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/*large*/

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/*extra large*/

@media (min-width:1480px) {
    .container {
        width: 1400px;
    }
}

/* end Global rules */


/* start header */

header{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(250, 250, 250, 0.952);
}

@media (max-width:682px){
    header{
        height: 115px;
        font-size: 15px;
    }
    
    header .container{
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        align-items: flex-end;
    }

    header .container .sys{
        margin-bottom: 5px;
    }


    header nav{
        flex-direction: column;
        gap: 15px;
        width: fit-content;
        align-items: flex-start;
    }

    header .search i,
    header .search input[type='text']{
        margin-top: 15px;
        margin-bottom: 0px;
    }
}

header nav .search{
    display: flex;
    align-items: center;
}

header .search input[type='text']{
    padding: 5px 15px;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 200px;
    padding-right: 0;
}

header .search input[type='text']:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.85);
}

header .search i{
    padding: 7px 20px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

header .locations{
    display: flex;
}

header .locations .location{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 15px;
    transition: .2s;
    cursor: pointer;
}

header .locations .location:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

header .locations .location img{
    width: 30px;
    margin-right: 10px;
}

header .location p{
    margin-right: 20px;
    margin-left: 10px;
    width: max-content;
    flex: 1;
}

header .locations .location .temp{
    display: none;
}

header .locations .location .temp.sys-active{
    display: block;
}

header .locations .location i.fa-ellipsis-vertical{
    cursor: pointer;
    margin: 0;
    margin-left: 15px;
    padding: 10px 15px;
    border-radius: 50%;

}

header .locations .location i.fa-ellipsis-vertical:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

header .locations .location .options{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 50%;
    transform: translateY(-50%);
    right: -125px;
    border-radius: 6px;
    height: fit-content;
    width: 110px;
    display: none;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media (max-width:520px){
    header .locations .location .options{
        right: 0;
        transform: unset;
        top: 110%;
        background-color: rgba(11, 9, 22, 0.99);
    }
}

header .locations .location .options.active{
    display: block;
}

header .locations .location .options::before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

@media (max-width:520px){
    header .locations .location .options::before{
        top: -20px;
        left: unset;
        right: 25px;
        transform: unset;
        border-color: transparent transparent rgb(11, 9, 22) transparent;
    }
}

header .locations .location .options .option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    padding: 15px 10px;
}

header .locations .location .options .option.pin{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

header .locations .location .options .option.remove{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

header .locations .location .options .option:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

header .locations .more-locations{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    cursor: pointer;
    transition: .2s;
    border-left: 1px solid rgba(255, 255, 255, 0.295);
}

header .locations .more-locations.empty{
    display: none;
}


header .locations .more-locations:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

header .locations .more-locations span{
    font-size: 17px;
    letter-spacing: 1px;
}

header .locations .more-locations>i{
    margin-left: 10px;
    transform: rotate(90deg);
}

header .locations .more-locations.active{
    background-color: rgba(0, 0, 0, 0.3);

}

header .locations .other-locations{
    display: none;
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 320px;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media (max-width:1000px){
    header .locations .other-locations{
        left: unset;
        right: 0;
    }
}

@media (max-width:790px){
    header .locations .location .options{
        right: 0;
        transform: unset;
        top: 110%;
        background-color: rgba(11, 9, 22, 0.99);
    }
}

@media (max-width:790px){
    header .locations .location .options::before{
        top: -20px;
        left: unset;
        right: 25px;
        transform: unset;
        border-color: transparent transparent rgb(11, 9, 22) transparent;
    }
}

header .locations .other-locations.active{
    display: block;
    border-radius: 10px;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

header .locations .other-locations .location{
    border-radius: 10px;
}

header .locations .other-locations .location:hover{
    background-color: black;
}

header .container .sys{
    position: relative;
}

header .container .sys>i{
    color: white;
    cursor: pointer;
    padding: 10px;   
}

header .container .sys .sys-menu{
    display: none;
    position: absolute;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

header .container .sys .sys-menu::before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    top: -20px;
    right: 10px;
}

header .container .sys .sys-menu.active{
    position: absolute;
    display: block;
    right: 0;
    top: 55px;
}

header .container .sys .sys-menu span{
    display: block;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

header .container .sys .sys-menu span.active{
    background-color: rgba(250, 250, 250, 0.4);
    cursor: default;
}

header .container .sys .sys-menu span:first-child{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

header .container .sys .sys-menu span:last-child{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* end header */


/* start Current Weather Widget */

.hero{
    margin-top: 30px;
}

.current-weather{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.current-weather .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-weather .head .location{
    max-width: 150px;
    text-align: right;
    font-size: 18px;
}

.current-weather .head h2{
    margin: 15px 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.current-weather .head .time{
    color: rgb(163, 163, 163);
    font-size: 16px;
    margin: 0;
}

.current-weather .weather-general{
    display: flex;
    margin: 20px 0 10px;
    align-items: center;
    gap: 20px;
}

.current-weather .weather-general .temp{
    display: flex;
    align-items:flex-end;
}

.current-weather .weather-general .temp h1{
    margin: 0;
}

.current-weather .weather-general .disc p:first-child{
    margin-bottom: 8px;
}

.current-weather .weather-general .disc p:last-child{
    margin-top: 0;
    color: rgb(163, 163, 163);
}

.current-weather .para{
    margin-top: 0;
}

.current-weather .info{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 5px;
    padding: 10px 10px 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.096);
}

.current-weather .info .box h3{
    margin: 10px 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.808);
    font-size: 18px;
    letter-spacing: 1px;
}

.current-weather .info .box p{
    margin: 0;
}

.current-weather .info .box.wind p{
    position: relative;
}

.arrow{
    height: 20px;
    width: 5px;
    border-top: 22px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 0;
    position: absolute;
    right: -20px;
    transform: rotate(100deg);
}


/* end Current Weather Widget */

/* start forcast */

.forecast{
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

.forecast .day{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    min-width: 150px;
    margin: 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    cursor: pointer;
    transition: .25s
}

.forecast .day:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.forecast .day h2{
    text-transform: capitalize;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.808);
    margin: 0;
}

.forecast .day .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forecast .day .info .temp{
    display: flex;
    align-items: center;
    gap: 15px;
}

.forecast .day .info .temp img{
    width: 50px;
}

.forecast .day .info .temp .temps p:last-child{
    color: rgba(255, 255, 255, 0.6);
}

.forecast .day .info .sky{
    display: none;
    color: rgba(255, 255, 255, 0.8);
    text-align: end;
    transition: .25s;
}

.forecast .day .info .sky p:first-child{
    text-transform: capitalize;
    width: max-content;
}

.forecast .day.active{
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .25s;
    position: relative;
}

.forecast .day.active::before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid;
    border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -45px;
}

.forecast .day.active h2{
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.forecast .day.active .sky{
    display: block;
    transition: .25s;
}

.forecast .day.active .sky p:first-child{
    margin-left: 20px;
}

.forecast .day.active .sky p:last-child span{
    margin-left: 8px;
}

/* end forcast */

/* start more */

.more{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.more .title{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.493);
    padding-left: 40px;
}

.more .title p{
    margin: 0;
    cursor: pointer;
    padding: 20px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.more .title p:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.781);
}

.more .title p.active{
    border-bottom: 2px solid rgba(255, 255, 255, 0.952);
    background-color: rgba(0, 0, 0, 0.3);
}

.more .info-box .box{
    margin: 0;
    min-height: 200px;
    width: 100%;
    display: none;
    padding: 15px;
}

.more .info-box .box.active{
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(14, 14, 44, 0.178);
}

/* end more */

/* hourly */
.more .box.hourly.active{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:auto;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-width: thin;

}

.more .box.hourly.active::-webkit-scrollbar{
    height: 8px;
    background-color: transparent;
}

.more .box.hourly.active::-webkit-scrollbar:hover{
    background-color: rgba(255, 255, 255, 0.158);
}

.more .box.hourly.active::-webkit-scrollbar-thumb{
    background-color: rgba(187, 187, 187, 0.6);
    border-radius: 5px;
}

.more .box.hourly.active::-webkit-scrollbar-thumb:hover{
    background-color: rgba(187, 187, 187, 0.8);
}


.more .hourly .hour{
    width: fit-content;
    min-height: 280px;
    padding-bottom: 50px;
    border-radius: 6px;
    text-align: center;
    position: relative;
    margin: 0 5px;
    
}

.hourly .hour .info{
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.527);
}

.hourly .hour.active .info .basic{
    border-top-right-radius: 0;
}

.hourly .hour .info .basic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    width: 150px;
    padding: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.726) 0%, rgba(31, 31, 31, 0.5) 50%, rgba(177, 177, 177, 0.123) 100%);
}

.hourly .hour .info .basic .itd img{
    width: 50px;
}

.hourly .hour .info .basic .itd .temp{
    margin-top: 5px;
    margin-bottom: 5px;
}

.hourly .hour .info .basic .wp p:first-child i{
    margin-right: 5px;
    font-size: 14px;
}

.hourly .hour .time{
    background-color: rgba(0, 0, 3, 0.795);
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hourly .hour .time h3{
    color: rgba(255, 255, 255, 0.9);
}

.hourly .hour .wp .wind{
    position: relative;
    width: max-content;
    margin-left: 20px;
}

.hourly .hour .info .details{
    display: none;
    width: 200px;
    border-top-right-radius: 6px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.726) 0%, rgba(31, 31, 31, 0.5) 50%, rgba(177, 177, 177, 0.123) 100%);
}

.hourly .hour.active .info .details{
    display: flex;
    width: fit-content;
}
.hourly .hour.active .info .details .col{
    width: 140px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hourly .hour.active .info .details .col:last-child{
    justify-content: space-around;
}

.hourly .hour.active .info .details .info-box{
    display: flex;
    align-items: center;
    text-align: left;

}

.hourly .hour.active .info .details .info-box i{
    margin-right: 10px;
    width: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.hourly .hour.active .info .details .info-box .det h4{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
}

.hourly .hour.active .info .details .info-box .det p{
    margin-top: 0;
    margin-bottom: 0;
}

/* hourly | end */