/* Start Global rules */


*{
    box-sizing: border-box;
}

body{
    font-family: helvetica, sans-serif;
    color: white;
    background-color: rgb(11, 9, 22);
    margin: 0;
    background-image: url('../images/noaa-ZVhm6rEKEX8-unsplash\ \(1\).jpg');
    position: relative;
    min-height: 100vh;
    background-size: cover;
}

body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

.container{
    max-width: 1200px;
    margin: auto auto;
}
:root {

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/*medium*/

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/*large*/

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end Global rules */


/* start header */

header{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 50px;
    display: flex;
    align-items: center;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(250, 250, 250, 0.952);
    
    
}

header nav .search{
    display: flex;
    align-items: center;
}

header .search input[type='text']{
    padding: 5px 15px;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 200px;
    padding-right: 0;
}

header .search input[type='text']:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.85);
}

header .search i{
    padding: 7px 20px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    
}

header .locations{
    display: flex;
}

header .locations .location{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 15px;
    transition: .2s;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.295);
}

header .locations .location:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

header .locations .location img{
    width: 30px;
    margin-right: 10px;
}

header .locations .location p{
    margin-right: 20px;
    margin-left: 10px;
}

header .locations .location i.fa-ellipsis-vertical{
    cursor: pointer;
    margin: 0;
    margin-left: 15px;
    padding: 10px 15px;
    border-radius: 50%;

}

header .locations .location i.fa-ellipsis-vertical:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

header .locations .location .options{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: -110px;
    right: 0;
    border-radius: 6px;
    height: fit-content;
    width: 110px;
    display: none;
}

header .locations .location .options.active{
    display: block;
}

header .locations .location .options::before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
    top: -20px;
    right: 22px;
}

header .locations .location .options .option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    padding: 15px 10px;
}

header .locations .location .options .option.pin{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

header .locations .location .options .option.remove{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

header .locations .location .options .option:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

header .container>i{
    color: white;
    cursor: pointer;
    padding: 5px;
    
}

/* end header */


/* start Current Weather Widget */

.hero{
    margin-top: 30px;
}

.current-weather{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
}

.current-weather .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-weather .head .location{
    max-width: 150px;
    text-align: right;
    font-size: 18px;
}

.current-weather .head h2{
    margin: 15px 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.current-weather .head .time{
    color: rgb(163, 163, 163);
    font-size: 16px;
    margin: 0;
}

.current-weather .weather-general{
    display: flex;
    margin: 20px 0 10px;
    align-items: center;
    gap: 20px;
}

.current-weather .weather-general .temp{
    display: flex;
    align-items:flex-end;
}

.current-weather .weather-general .temp h1{
    margin: 0;
}

.current-weather .weather-general .disc p:first-child{
    margin-bottom: 8px;
}

.current-weather .weather-general .disc p:last-child{
    margin-top: 0;
    color: rgb(163, 163, 163);
}

.current-weather .para{
    margin-top: 0;
}

.current-weather .info{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 5px;
    padding: 10px 10px 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.096);
}

.current-weather .info .box h3{
    margin: 10px 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.808);
    font-size: 18px;
    letter-spacing: 1px;
}

.current-weather .info .box p{
    margin: 0;
}

.current-weather .info .box.wind p{
    position: relative;
}

.current-weather .info .box.wind .arrow{
    height: 20px;
    width: 5px;
    border-top: 22px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 0;
    position: absolute;
    right: -20px;
    transform: rotate(100deg);

}


/* end Current Weather Widget */


/* start more */

.more{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
}

.more .title{
    display: flex;
    gap: 20px;
    
}

.more .title p{
    margin: 0;
    background-color: rgba(23, 21, 44, 0.774);
    cursor: pointer;
    padding: 10px 30px;
}

.more .box{
    height: 100px;
    margin-top: 15px;
    display: none;
}

.more .box.red{
    background-color: red;
}

.more .box.green{
    background-color: green;
}

.more .box.blue{
    background-color: blue;
}

.more .box.active{
    display: block;
}

/* end more */